---
# Inspired by: https://github.com/github/super-linter/blob/main/.github/workflows/deploy-production.yml

name: Deploy Production
on:
  push:
    branches: [ main ]

env:
  REGISTRY: ghcr.io

permissions:
  contents: read

jobs:
  build:
    name: Deploy Docker Image - Development
    runs-on: ubuntu-latest

    permissions:
      deployments: write
      packages: write

    strategy:
      fail-fast: false
      matrix:
        images:
          - container-image-id-prefix: ""
            deployment-environment-identifier: Production
            image-id: production

    timeout-minutes: 60

    steps:
      - name: Repository checkout
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
        with:
          fetch-depth: 0

      - name: Get current date
        run: |
          echo "Appending the build date contents to GITHUB_ENV..."
          echo "BUILD_DATE=$(date -u +'%Y-%m-%dT%H:%M:%SZ')" >> "${GITHUB_ENV}"

      - name: Setup BuildX
        uses: docker/setup-buildx-action@4b4e9c3e2d4531116a6f8ba8e71fc6e2cb6e6c8c

      - name: Login to GitHub Container Registry
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Start deployment
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        uses: bobheadxi/deployments@88ce5600046c82542f8246ac287d0a53c461bca3
        id: deployment
        with:
          step: start
          token: ${{ secrets.GITHUB_TOKEN }}
          env: ${{ matrix.images.deployment-environment-identifier }}

      - name: Build Docker image - ${{ matrix.images.image-id }}
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        uses: docker/build-push-action@2eb1c1961a95fc15694676618e422e8ba1d63825
        with:
          context: .
          file: ./Dockerfile
          build-args: |
            BUILD_DATE=${{ env.BUILD_DATE }}
            BUILD_REVISION=${{ github.sha }}
            BUILD_VERSION=${{ github.sha }}
          load: false
          push: true
          tags: |
            ${{env.REGISTRY }}/${{ github.repository }}:${{ matrix.images.container-image-id-prefix }}latest

      - name: Update deployment status
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        uses: bobheadxi/deployments@88ce5600046c82542f8246ac287d0a53c461bca3
        with:
          step: finish
          token: ${{ secrets.GITHUB_TOKEN }}
          status: ${{ job.status }}
          deployment_id: ${{ steps.deployment.outputs.deployment_id }}
          env: ${{ steps.deployment.outputs.env }}
          env_url: https://github.com/${{ github.repository }}
