---
# Documentation: https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions

name: Lint Code Base

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  build:
    name: Lint Code Base
    runs-on: ubuntu-latest

    steps:
      - name: Repository checkout
        uses: actions/checkout@8f4b7f84864484a7bf31766abe9204da3cbe65b3
        with:
          fetch-depth: 0

      - name: Lint Code Base
        uses: github/super-linter@45fc0d88288beee4701c62761281edfee85655d7
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: main
          VALIDATE_BASH: false
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
