---

name: GitHub Tag Update

on:
  release:
    types: [ published, edited ]

permissions:
  contents: read

jobs:
  actions-tagger:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Repository checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

        # never use pinning to SHA, it breaks the release of this action
      - name: Update tag
        uses: Actions-R-Us/actions-tagger@v2
        with:
          publish_latest_tag: false
          token: ${{ secrets.GITHUB_TOKEN }}
