---

name: GitHub Tag Update

on:
  release:
    types: [ published, edited ]

permissions:
  contents: read

jobs:
  actions-tagger:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Repository checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

        # never use pinning to SHA, it breaks the release of this action
      - name: Update tag
        uses: Actions-R-Us/actions-tagger@v2
        with:
          publish_latest_tag: false
          token: ${{ secrets.GITHUB_TOKEN }}
